---
import Layout from '../layouts/Layout.astro'
import Fotobox from '../components/Fotobox.astro'

const fotos = [
    [
        {
            src: 'https://images.unsplash.com/photo-1439436556258-1f7fab1bfd4f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1568176579502-3fbc3aacebaf?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1599056377758-4808a7e70337?auto=format&fit=crop&q=80&w=2066&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
            is: true,
        },
        {
            src: 'https://images.unsplash.com/photo-1622737133809-d95047b9e673?auto=format&fit=crop&q=80&w=1932&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1622227922682-56c92e523e58?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
    ],
    [
        {
            src: 'https://images.unsplash.com/photo-1439436556258-1f7fab1bfd4f?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
            is: true,
        },
        {
            src: 'https://images.unsplash.com/photo-1568176579502-3fbc3aacebaf?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1599056377758-4808a7e70337?auto=format&fit=crop&q=80&w=2066&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1622737133809-d95047b9e673?auto=format&fit=crop&q=80&w=1932&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
        {
            src: 'https://images.unsplash.com/photo-1622227922682-56c92e523e58?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        },
    ],
]
---

<Layout
    title="Malowany Uśmiech | Galeria"
    mainPage={false}
    ogTitle="Malowany Uśmiech | Galeria"
    ogDescription="Galeria Malowany Uśmiech"
    ogImage="link"
    ogUrl="https://malowanyusmiech.pl"
    description="Galeria Malowany Uśmiech"
>
    <div class="container mx-auto">
        <div class="flex flex-row items-center justify-between px-4 pt-36">
            <h2
                class="text-4xl font-medium text-myblue lg:text-5xl 2xl:text-6xl"
            >
                Galeria
            </h2>
            <a
                href="/"
                class="rounded-xl bg-mygrey px-2 py-1 text-center text-2xl tracking-wide text-myblue transition-colors duration-300 hover:bg-mylightblue focus:outline-none focus:ring focus:ring-myblue focus:ring-offset-2 md:px-6 md:py-3"
                ><span class="mb-2">←</span> Na główną</a
            >
        </div>
    </div>
    <div class="mx-auto max-w-[1920px] space-y-0.5 py-12 xl:space-y-1">
        {fotos.map((box) => <Fotobox fotos={box} />)}
    </div>
</Layout>
