---
import Layout from '../layouts/Layout.astro'
import Fotobox from '../components/Fotobox.astro'
import fotos from '../data/gallery.js'
---

<Layout
    title="Malowany Uśmiech | Galeria"
    mainPage={false}
    ogTitle="Malowany Uśmiech | Galeria"
    ogDescription="Galeria Malowany Uśmiech"
    ogUrl="https://malowanyusmiech.pl/galeria"
    description="Galeria Malowany Uśmiech"
>
    <div class="container mx-auto">
        <div
            class="flex flex-row items-center justify-between px-4 pt-36 lg:pt-40 xl:pt-48"
        >
            <h2
                class="text-4xl font-medium text-myblue lg:text-5xl 2xl:text-6xl"
            >
                Galeria
            </h2>
            <a
                href="/"
                class="rounded-xl bg-mygrey px-2 py-1 text-center text-2xl tracking-wide text-myblue transition-colors duration-300 hover:bg-mylightblue focus:outline-none focus:ring focus:ring-myblue focus:ring-offset-2 md:px-6 md:py-3"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-arrow-left mb-0.5 inline"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l14 0"></path>
                    <path d="M5 12l6 6"></path>
                    <path d="M5 12l6 -6"></path>
                </svg> Powrót</a
            >
        </div>
    </div>
    <div class="mx-auto max-w-[1920px] py-16 md:space-y-0.5 lg:py-20 xl:py-24">
        {fotos.map((box) => <Fotobox fotos={box} />)}
    </div>
</Layout>
