---
import Layout from '../layouts/Layout.astro'
---

<Layout
    title="Malowany Uśmiech | Polityka Prywatności"
    mainPage={false}
    ogTitle="Malowany Uśmiech | Polityka Prywatności"
    ogDescription="Polityka prywatności Malowany Uśmiech"
    ogUrl="https://malowanyusmiech.pl/galeria"
    description="Polityka prywatności Malowany Uśmiech"
>
    <div class="font-exo text-sm md:text-base">
        <div class="container mx-auto">
            <div class="px-4 pb-12 pt-28 md:px-7 lg:pb-16 lg:pt-36">
                <p class="py-3 font-semibold">Administrator danych</p>
                <p class="py-4 leading-[160%]">
                    Administratorem danych jest firma Malowany Uśmiech Karolina
                    Czechowicz<br />
                     NIP: 9442279104<br />
                     kontakt@malowanyusmiech.pl<br />
                </p>
                <p class="py-3 font-semibold">Kiedy zbieramy Twoje dane?</p>
                <p class="py-4 leading-[160%]">
                    Twoje dane (takie jak numer telefonu) zbierane są podczas
                    korzystania z formularza kontaktowego. <br />
                     Na stronie malowanyusmiech.pl korzystamy z usług Google
                    Analytics (wyjaśnienie niżej).
                </p>
                <p class="py-3 font-semibold">Google Analytics</p>
                <p class="py-4 leading-[160%]">
                    Strona malowanyusmiech.pl korzysta z usługi Google Analytics
                    dla zbierania i analizowania informacji o serwisie (ilość
                    miesięcznych odwiedzin, skąd ruch trafia na stronę – z
                    wyszukiwarek, z linków w social media itd.) <br />
                     W powyższym celu informacje o osobach korzystających z
                    serwisu są przesyłane do Google. Google wyklucza przesyłanie
                    informacji umożliwiających identyfikację danej osoby,
                    jednakże adres IP nie jest traktowany jako taka informacja
                    przez Google.
                </p>
                <p class="py-3 font-semibold">Cele przetwarzania danych</p>
                <p class="py-4 leading-[160%]">
                    Twoje dane zebrane przez formularz kontaktowy przetwarzane
                    są jedynie w celach kontaktowych. Nie udostępniamy ich
                    nikomu, nie sprzedajemy ich.
                    <br />
                     W wiadomości zwrotnej może pojawić się oferta marketingowa
                    dotycząca naszych usług.
                    <br />
                     Korzystanie z formularza kontaktowego jest dobrowolne.
                </p>
                <p class="py-3 font-semibold">Pozostałe informacje</p>
                <p class="py-4 leading-[160%]">
                    W razie jakichkolwiek pytań, prosimy o kontakt na adres
                    mailowy: <br />
                     kontakt@malowanyusmiech.pl <br />
                </p>
            </div>
        </div>
    </div>
</Layout>
