---

---

<div
    id="form"
    class="sticky inset-0 z-20 hidden h-screen w-full items-center justify-center bg-slate-500/50"
>
    <form
        class="flex min-h-screen w-full max-w-md flex-col items-center justify-center space-y-9 bg-myspiritblue sm:min-h-fit sm:rounded-xl"
    >
        <div class="w-full px-6">
            <input
                class="w-full"
                type="text"
                name="name"
                id="name"
                placeholder="Imię"
            />
            <p class="hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, repellat.
            </p>
        </div>
        <div class="w-full px-6">
            <input
                class="w-full"
                type="tel"
                name="tel"
                id="tel"
                placeholder="Numer telefonu"
            />
            <p class="hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, repellat.
            </p>
        </div>
        <div class="w-full px-6">
            <input
                class="w-full"
                type="email"
                name="email"
                id="email"
                placeholder="Adres email (opcjonalnie)"
            />
            <p class="hidden">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Tempora, repellat.
            </p>
        </div>
        <button>Prześlij</button>
    </form>
</div>
