<div
    class="flex w-full flex-col items-center justify-center border-t-[1px] border-stone-200 py-8 sm:mt-2 sm:pt-8 xl:mt-0 xl:w-auto xl:border-none"
>
    <h3 class="mb-5 text-center text-3xl xl:mb-10 xl:ml-10 xl:text-4xl">
        Gdzie działamy
    </h3>
    <ul
        class="display flex flex-wrap items-center justify-center gap-x-4 gap-y-2 text-lg text-stone-200 xl:h-40 xl:flex-col xl:items-start xl:justify-start xl:gap-x-12"
    >
        <li>Kraków</li>
        <li>Skawina</li>
        <li>Wadowice</li>
        <li>Andrychów</li>
        <li>Zator</li>
        <li>Oświęcim</li>
        <li>Chrzanów</li>
        <li>Katowice</li>
    </ul>
</div>
