---

---

<footer class="relative bg-myblue">
    <!-- <div
        class="bg-footer-small absolute -left-16 -top-36 z-30 h-full w-full content-[''] md:-left-32 2xl:bg-cover"
    >
    </div> -->
</footer>
