<div class="flex flex-col py-8 text-lg">
    <h3 class="mb-5 text-center text-3xl xl:mb-10 xl:text-left xl:text-4xl">
        Kontakt
    </h3>
    <a
        href="mailto:kontakt@malowany-usmiech.pl"
        class="flex items-center p-1.5 text-stone-200 transition-colors duration-300 hover:text-mypink focus:text-mypink focus:outline-none sm:text-left xl:text-xl"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mail mr-1.5 inline font-exo"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            ></path>
            <path d="M3 7l9 6l9 -6"></path>
        </svg> kontakt@malowanyusmiech.pl</a
    >
    <a
        href="tel:+48513955558"
        class="my-0.5 flex items-center p-1.5 tracking-wide text-stone-200 transition-colors duration-300 hover:text-mypink focus:text-mypink focus:outline-none xl:my-1.5"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-phone mr-2 inline font-exo"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
            ></path>
        </svg> 513-955-558</a
    >
    <a
        href="https://www.google.com/maps/place/Malowany+u%C5%9Bmiech+animacje+dla+dzieci/@50.0028836,19.5918611,16.25z/data=!4m6!3m5!1s0x423159a104f1329d:0x8cdfeb43135b4d4b!8m2!3d50.003453!4d19.5900971!16s%2Fg%2F11tjcxgx1x?entry=ttu"
        rel="noopener"
        target="_blank"
        class="flex items-center p-1.5 tracking-wide text-stone-200 transition-colors duration-300 hover:text-mypink focus:text-mypink focus:outline-none"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-map-2 mr-2 font-exo"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
            <path d="M9 4v13"></path>
            <path d="M15 7v5.5"></path>
            <path
                d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"
            ></path>
            <path d="M19 18v.01"></path>
        </svg> Flisaków 12 <br />34-115 Łączany</a
    >
</div>
