---
import FooterContact from './FooterContact.astro'
---

<footer class="bg-myblue">
    <div
        class="container mx-auto flex flex-col items-center p-4 text-stone-100"
    >
        <FooterContact />
    </div>
</footer>
