---
import WhyUs from './WhyUs.astro'
import Offers from './Offers.astro'
import AboutUs from './AboutUs.astro'
import WhatSay from './WhatSay.astro'
---

<main>
    <WhyUs />
    <AboutUs />
    <Offers />
    <WhatSay />
</main>
