---
const { name, opinion, date } = Astro.props
---

<div
    class="flex w-[90%] shrink-0 overflow-hidden rounded-xl p-5 odd:bg-opinionblue even:bg-mycardblue lg:w-full xl:px-6"
>
    <div class="flex h-full flex-col">
        <p class="text-xl tracking-wide text-[#474959]">{name}</p>
        <p class="my-6 text-lg leading-[170%] text-[#01566b]">{opinion}</p>
        <p class="mt-auto tracking-wide text-[#474959]">{date}</p>
    </div>
</div>

<!-- even:bg-[#fdfdfd] -->
