---
import data from '../data/opinions.js'
import Opinion from './Opinion.astro'
---

<section class="bg-mycardblue py-12 lg:py-16 xl:py-24">
    <div class="container mx-auto">
        <h2
            class="mb-12 p-4 text-4xl font-medium text-myblue md:px-8 lg:text-5xl xl:mb-20 2xl:text-6xl"
        >
            Co klienci piszą
        </h2>
    </div>
    <div>
        <div class="flex overflow-x-auto py-6 pl-4">
            {
                data.map((item) => (
                    <Opinion
                        name={item.name}
                        opinion={item.opinion}
                        date={item.date}
                    />
                ))
            }
        </div>
    </div>
</section>
