---
const data = {
    title: 'Dlaczego my',
    gold: {
        title: 'Profesjonalizm',
        message:
            'Jesteśmy doświadczonym zespołem, który dba o każdy szczegół, aby zapewnić udane urodziny.',
    },
}
---

<section id="whyus" class="h-screen">
    <h2></h2>
</section>
