---
import '@fontsource/atma'
import Nav from '../components/Nav.astro'
import Contact from '../components/Contact.astro'
interface Props {
    title: string
    mainPage: boolean
}
const { title, mainPage } = Astro.props
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="body relative">
        <Nav mainPage={mainPage} />
        <Contact />
        <slot />
    </body>
</html>

<script>
    const form = document.querySelector('#form')
    const contactBtn = document.querySelector('.contact-btn')
    const body = document.querySelector('.body')

    const toggleForm = () => {
        form.classList.toggle('hidden')
        form.classList.toggle('flex')
        body.classList.toggle('overflow-hidden')
    }

    contactBtn.addEventListener('click', toggleForm)
</script>
